@CHARSET "UTF-8";
div.content {
	position: absolute;
	top: 150px;
	left: 550px;
	width: 500px;
	height: 375px;
	background: url("/EduSystem/images/login-form.png");
	z-index: 100;
}

#code {
	position: absolute;
	top: 250px;
	left: 350px;
}

#select {
	position: absolute;
	top: 350px;
	left: 175px;
}

div.content table {
	width: 200px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 140px;
	bottom: 30px;
}

div.content td {
	height: 50px;
}

#login_btn:hover {
	cursor: pointer;
}

div.content td input {
	height: 40px;
	width: 170px;
	border: none;
}

body {
	background-image: url("/EduSystem/images/bg.png");
}

.imgvcodehidden {
	display: none;
}

.imgvcodeshow {
	display: show;
}

.bottom {
	bottom: 0px;
	left: 650px;
	position: absolute;
	text-align: center;
}

h2 {
	margin-top: 50px;
	text-align: center;
	color: #556B2F;
}

.logo {
	top: 20px;
	position: absolute;
	left: 400px;
}